$lt-gray: #ddd;
$background-dark: #001064;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$header-light: floralwhite;
$carousel-item-height: 450px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin(0px,0px);
}

.row-content {
  @include zero-margin(50px,0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0);
}

.jumbotron {
  @include zero-margin(70px,30px);
  background: $background-light;
  color: floralwhite;
}

body {
  padding: 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background: $background-dark;

  .carousel-item {
    height: $carousel-item-height;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 450px;
    }
  }
}

.top-spacer {
  margin-top: 120px;
}

.center-cropped {
  width: 250px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

.no-decoration {
    color: black;
    text-decoration: none !important;
}

.widget {
  height: 250px;
}