.row-header {
  margin: 0 auto;
  padding: 0px 0px; }

.row-content {
  margin: 0 auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0 auto;
  padding: 20px 0; }

.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }

body {
  padding: 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #001064; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #001064; }
  .carousel .carousel-item {
    height: 450px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 450px; }

.top-spacer {
  margin-top: 120px; }

.center-cropped {
  width: 250px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat; }

.no-decoration {
  color: black;
  text-decoration: none !important; }

.widget {
  height: 250px; }
